extends layout

block content
  h1 Title: #{blog.title}

  p #[strong Author: ] 
    a(href=blog.author.url) #{blog.author.first_name} #{blog.author.last_name}
  p #[strong Description:] #{blog.description}
  p #[strong Body:] #{blog.body}
  p #[strong Status:] 


  div(style='margin-left:20px;margin-top:20px')
    h4 Blog Details:

    each val in blog_instances
      hr
      if val.status=='Published'
        p.text-success #{val.status}
      else if val.status=='Draft'
        p.text-danger #{val.status}
      else
        p.text-warning #{val.status}
      
      if val.status!='Draft'
        p #[strong Due For Revision:] #{val.due_for_revision_formatted}
      p #[strong Id:]
        a(href=val.url) #{val._id}
      hr
      p
      a(href=blog.url+'/delete') Delete Book
      
      a(href=blog.url+'/update') Update Book

    else
      p There are no copies of this blog in the db.
        
