extends layout

block content
  h1= title

  ul
    each val in bloginstance_list
      li
        a(href=val.url) #{val.blog.title}
        if val.status=='Published'
          span.text-success  #{val.status}
        else if val.status=='Draft'
          span.text-danger  #{val.status}
        else
          span.text-warning #{val.status}
        if val.status!='Draft'
          span  (Due For Revision: #{val.due_for_revision_formatted} )

    else
      li There are no blog copies on this website.
